@model KarlanTravels_Adm.Models.FacilityType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacilityType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacilityTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityTypeNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityTypeNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacilityTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
