@model KarlanTravels_Adm.Models.TransactionRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransactionRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionRecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionRecordId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType.TransactionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.TransactionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionFee)
        </dd>

        @if (Model.TransactionType.TransactionTypeId != "CANCL_EARL" && Model.TransactionType.TransactionTypeId != "CANCL_LATE")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Canceled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Canceled)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionNote)
        </dd>

        @if (Session["AdminRole"].ToString() == "Senior Manager")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionRecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
