@model KarlanTravels_Adm.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.Deleted == true)
{
<h3>Record has already been deleted</h3>
}
else
{
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountToPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountToPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountToRefund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountToRefund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Violations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Violations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlackListed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlackListed)
        </dd>
    </dl>
</div>
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (!Model.Deleted)
        {
            <input type="submit" value="Delete" class="btn btn-default" />
        }
        @Html.ActionLink("Back to List", "Index")
        <br /><span class="text-danger">@TempData["DelWaring"]</span>
    </div>
    }
</div>
