@using PagedList.Mvc
@model PagedList.IPagedList<KarlanTravels_Adm.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var True = true;
        var False = false;
        $('#SortOpt').val('@ViewBag.CurrentSortOpt');
        $('#SortOdr').val('@ViewBag.CurrentSortOdr');
        $('#PageSize').val(@ViewBag.PageSize);
        $('#ShowDel').prop('checked', @ViewBag.ShowDelCheck);
    });
</script>

<h2>Index</h2>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<br />
<form action="Index" method="post">
    <span>Search by name</span>
    @Html.TextBox("SearchString", ViewBag.CurrentSearch as string)
    <span>(Leave empty to load all)</span>
    <br /><br />

    <span>Sort by</span>
    <select name="SortOpt" id="SortOpt">
        <option value="Name">Name</option>
        <option value="Email">Email</option>
        <option value="Phone">Phone</option>
        <option value="City">City</option>
        <option value="BankAcc">Bank account name</option>
        <option value="AmountPay">Amount to pay</option>
    </select>

    <select name="SortOdr" id="SortOdr">
        <option value="Des">Descending</option>
        <option value="Asc">Ascending</option>
    </select>
    <br />
    <br />

    <span>Rows per page</span>
    <select name="PageSize" id="PageSize">
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
    </select>
    <br />
    <br />

    @if (Session["AdminRole"].ToString() == "Senior Manager")
    {
        <span>Show deleted</span>
        <input type="checkbox" name="ShowDel" id="ShowDel" value="ShowDel">
        <br />
        <br />
    }

    <input type="submit" value="FILTER" />
</form>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BankAccount.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AmountToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AmountToRefund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Violations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerNote)
        </th>
        @if (Session["AdminRole"].ToString() == "Senior Manager")
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Deleted)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToRefund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Violations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNote)
            </td>
            @if (Session["AdminRole"].ToString() == "Senior Manager")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }

</table>


<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SortOpt = ViewBag.CurrentSortOpt, SortOdr = ViewBag.CurrentSortOdr, CurrentShowDel = ViewBag.CurrentShowDel, PageSize = ViewBag.PageSize, CurrentSearch = ViewBag.CurrentSearch }))
</div>