@model KarlanTravels_Adm.Models.Bank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.Deleted == true)
{
    <h3>Record has already been deleted</h3>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Bank</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BankId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SwiftCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SwiftCode)
            </dd>

        </dl>
    </div>
}
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (!Model.Deleted)
            {
                <input type="submit" value="Delete" class="btn btn-default" />
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
        }
    </div>
