@model KarlanTravels_Adm.Models.Facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacilityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityType.FacilityTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityType.FacilityTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilitySocials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilitySocials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityAvailability)
        </dt>

        <dd>
        @Html.DisplayFor(model => model.FacilityAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityImage)
        </dd>
        @if (Session["AdminRole"].ToString() == "Senior Manager")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
