@model IEnumerable<KarlanTravels_Adm.Models.Facility>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityType.FacilityTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityQuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityType.FacilityTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityQuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityAvailability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteFlag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacilityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacilityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacilityId })
        </td>
    </tr>
}

</table>
