@{
    Layout = null;
}
@using KarlanTravels_Adm.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Karlan Travels Administrative</title>
    <link href='https://fonts.googleapis.com/css?family=Telex' rel='stylesheet'>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Telex';
            text-decoration: none;
        }

        .navbar-header {
            height: 50px;
            background-color: #373535;
        }

        .welcome, .logout {
            display: inline-block;
            color: white;
        }

        .welcome {
            margin: 15px 0 0 170px;
        }

        .logout {
            margin: 5px 100px 0 100px;
            float: right;
        }

        .logout input {
            height: 40px;
            border-radius: 10px;
            border: 2px solid gray;
            font: bold 14px;
        }
        .body-content{
            width: 50%;
            margin: 30px auto;
        }
        .task {
            display: block;
            margin-bottom: 20px;
        }
            .task:hover {
                background-image: linear-gradient(to right, #6DCCFC, #FFFFFF);
            }

        .taskText {
            color: black;
        }

            .taskText:hover {
                text-decoration: underline;
                color: blue;
            }
       
    </style>
    
</head>
<body>
    <div class="container">
        <div class="navbar-header">
            <div class="welcome"><h3>@Session["WelcomeMessage"]</h3></div>
            <div class="logout">
                <form action="LogOut" method="post">
                    <input type="submit" value="LOG OUT"/>
                </form>
            </div>
        </div>
        <div class="body-content">
            <h2>USERS AND SALES</h2>
            <div class="task">

                @if (Session["AdminRole"].ToString() == "Senior Manager" || Session["AdminRole"].ToString() == "Saler")
                {
                    @Html.ActionLink("Transactions", "Index", "TransactionRecords", null, new {@class = "taskText"})
                    <br />
                    @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Cites", "Index", "Cities", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Countries", "Index", "Countries", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Bank accounts", "Index", "BankAccounts", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Banks", "Index", "Banks", null, new { @class = "taskText" })
                }
                else
                {
                    <span>ACTION IS NOT AVAILABLE</span>
                }
            </div>
            <h2>TOURS AND FACILITIES</h2>
            <div class="task">

                @if (Session["AdminRole"].ToString() == "Senior Manager" || Session["AdminRole"].ToString() == "Tour Manager")
                {
                    @Html.ActionLink("Tour categories", "Index", "Categories", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Sub categories", "Index", "SubCategories", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Tourist Spots", "Index", "TouristSpots", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Facilities", "Index", "Facilities", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Faciliies Types", "Index", "FacilityTypes", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Tours", "Index", "Tours", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Tours Details", "Index", "TourDetails", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Cites", "Index", "Cities", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Countries", "Index", "Countries", null, new { @class = "taskText" })
                }
                else
                {
                    <span>ACTION IS NOT AVAILABLE</span>
                }
            </div>
            <h2>HR</h2>
            <div class="task">

                @if (Session["AdminRole"].ToString() == "Senior Manager")
                {
                    @Html.ActionLink("Admins", "Index", "Admins", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Roles", "Index", "AdminRoles", null, new { @class = "taskText" })
                    <br />
                    @Html.ActionLink("Transactions Types", "Index", "TransactionTypes", null, new { @class = "taskText" })
                }
                else
                {
                    <span>ACTION IS NOT AVAILABLE</span>
                }
            </div>
        </div>
    </div>
</body>
</html>
