@model KarlanTravels_Adm.Models.Tour

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.Deleted == true)
{
    <h3>Record has already been deleted</h3>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Tour</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TourId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourAvailability)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourAvailability)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourStart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourStart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourEnd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourEnd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxBooking)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxBooking)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookTimeLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookTimeLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category1.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category1.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourRating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourRating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourNote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourNote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TourImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TourImage)
            </dd>

        </dl>
    </div>
}
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
