@model KarlanTravels_Adm.Models.TransactionType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.Deleted == true)
{
    <h3>Record has already been deleted</h3>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TransactionType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TransactionTypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionTypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransactionTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionTypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransactionTypeNote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionTypeNote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransactionPriceRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionPriceRate)
            </dd>
        </dl>
    </div>
}
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
