@model IEnumerable<KarlanTravels_Adm.Models.TransactionType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTypeNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionPriceRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTypeNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionPriceRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionTypeId })
        </td>
    </tr>
}

</table>
