@model KarlanTravels_Adm.Models.TouristSpot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TouristSpot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpotAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpotAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpotNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpotNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TouristSpotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
