@model IEnumerable<KarlanTravels_Adm.Models.TouristSpot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpotNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotAvailability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpotNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TouristSpotId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TouristSpotId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TouristSpotId })
        </td>
    </tr>
}

</table>
