@using PagedList.Mvc
@model PagedList.IPagedList<KarlanTravels_Adm.Models.TouristSpot>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var True = true;
        var False = false;
        $('#SortOpt').val('@ViewBag.CurrentSortOpt');
        $('#SortOdr').val('@ViewBag.CurrentSortOdr');
        $('#PageSize').val(@ViewBag.PageSize);
        $('#ShowDel').prop('checked', @ViewBag.ShowDelCheck);
    });
</script>

<h2>Index</h2>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<br />
<form action="Index" method="post">
    <span>Search by name</span>
    @Html.TextBox("SearchStringName", ViewBag.CurrentSearchName as string)
    &nbsp;
    <span>Search by city</span>
    @Html.TextBox("SearchStringCity", ViewBag.CurrentSearchCity as string)
    <br /><br />
    <span>Search by sub category</span>
    @Html.TextBox("SearchStringSubCategory", ViewBag.CurrentSearchSubCategory as string)
    <br /><br />
    <span>(Leave empty to load all)</span>
    <br /><br />

    <span>Sort by</span>
    <select name="SortOpt" id="SortOpt">
        <option value="Name">Name</option>
        <option value="SubCategory">Sub Category</option>
        <option value="Category">Category</option>
        <option value="City">City</option>
        <option value="Rating">Rating</option>
        <option value="OpenHour">OpenHour</option>
        <option value="Availability">Availability</option>
    </select>

    <select name="SortOdr" id="SortOdr">
        <option value="Des">Descending</option>
        <option value="Asc">Ascending</option>
    </select>
    <br />
    <br />

    <span>Rows per page</span>
    <select name="PageSize" id="PageSize">
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
    </select>
    <br />
    <br />

    @if (Session["AdminRole"].ToString() == "Senior Manager")
    {
        <span>Show deleted</span>
        <input type="checkbox" name="ShowDel" id="ShowDel" value="ShowDel">
        <br />
        <br />
    }

    <input type="submit" value="FILTER" />
</form>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubCategory.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OpenHourVald)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ClosingHourVald)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TouristSpotNote)
        </th>
        @if (Session["AdminRole"].ToString() == "Senior Manager")
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Deleted)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.SubCategory.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotLocation)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotRating)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.OpenHourVald)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ClosingHourVald)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotAvailability)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotImage)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TouristSpotNote)
            </th>
            @if (Session["AdminRole"].ToString() == "Senior Manager")
            {
                <th>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </th>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TouristSpotId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TouristSpotId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TouristSpotId })
            </td>
        </tr>
    }

</table>


<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, SortOpt = ViewBag.CurrentSortOpt, SortOdr = ViewBag.CurrentSortOdr, CurrentShowDel = ViewBag.CurrentShowDel, PageSize = ViewBag.PageSize, CurrentSearchName = ViewBag.CurrentSearchName, CurrentSearchCity = ViewBag.CurrentSearchCity, CurrentSearchSubCategory = ViewBag.CurrentSearchSubCategory}))
</div>